[submodule "mkos"]
	path = mkos
	url = https://github.com/sloanyang/mkos.git
[submodule "android_kernel_zte_u950"]
	path = android_kernel_zte_u950
	url = https://github.com/sloanyang/android_kernel_zte_u950.git
[submodule "android_device_zte_u950"]
	path = android_device_zte_u950
	url = https://github.com/sloanyang/android_device_zte_u950.git
[submodule "android_kernel_huawei_mediapad10fhd"]
	path = android_kernel_huawei_mediapad10fhd
	url = https://github.com/sloanyang/android_kernel_huawei_mediapad10fhd.git
